<form [formGroup]="service.formModel" autocomplete="off">
    <img src="/assets/user2.png" class="mx-auto d-block">
    <h1>User Sign Up</h1>
    <p><em>Sign Up To Play Tic Tac Toe!</em></p>
  <div class="form-group required">
    <label >Email</label>
    <input class="form-control" formControlName="Email">
  </div>
  <div class="form-group required">
    <label >Password</label>
    <input class="form-control" formControlName="Password">
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Sign Up</button>
    </div>
  </div>
</form>

