body {
  background-color: #33DFFF;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #eba834;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

p, h2 {
  text-align: center;
}

.mx-auto {
  margin: 20px;
}

/* Form */
div.form-group.required > label:first-child:after {
  content:'*';
  color: #dc3545;
  padding-left: 5px;
}

div.form-group label:not(.text-danger) {
  color: #303b3b;
  font-weight: 700;
}

/* Tabs */
.tab-header{
  text-align: center;
}

.tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display:inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}

form {
    margin: 0px 20px;
}

/* Extra CSS for forms */
button[type="submit"] {
  background-color: #FF3333;
  color: #fff;
}

/* Cell */
.cell {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-size: 5em;
  font-family: sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #c1cdcd;
  cursor: pointer;
}

.v1 {
  border-right: 3px solid black;
}

.h1 {
  border-bottom: 3px solid black;
}

/* Board */
.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #fff;
}

.status {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
}

.new-game {
  width: 100%;
}

/* Game*/
.game-app {
  margin: 0 auto;
  max-width: 300px;
  color: #34495e;
}
