<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">User Dashboard</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-4" style="width: 20rem; background-color: violet;">
  <h4>Game Details</h4>
  <ul class="list-group">
    <li class="list-group-item"><strong>Games Played: </strong></li>
    <li class="list-group-item"><strong>Games Won: </strong></li>
    <li class="list-group-item"><strong>Games Lost: </strong></li>
  </ul>
</div>

<div class="container">
  <div class="jumbotron m-4">
    <h1 class="display-4 text-center"><strong>Tic Tac Toe</strong></h1>
      <div class="col-md-12">
        <app-game></app-game>
      </div>
  </div>
</div>
